
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <h2>{{user.username}}</h2>
        <h2>{{user.email}}</h2>
        <h2>{{user.password}}</h2>
    </div>

    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/custom.css' %}">
    <div class="container">
            <div class="row g-0">
              <a href="{% static 'http://www.olutechictresources.com' %}"> <marquee behavior="" direction="right" class="marquees" ><h3 class="secondary-btn">With US -!
                ||comes new Skill definition to power you grow|| New Innovation Everyday </h3>  </marquee> </a>
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">OLUTECH || ICT || RESOURCES <br> EDUCATION - SOLUTION & SERVICES . </h1>
                  <p><h2>SKILL ACQUISITION || ENTERPRENEURSHIP</h2></p>
                  <p id="header-paragraph"> <br> trusted IT solution</p>
                  <a class="btn" style="color: white; background-color: #14cefd;"type="submit" id="body-link-row" href="{% static 'http://www.olutechictresources.com' %}"> More Detail</a>
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
            </div>
    </div>


{% endblock %}